@import url('reset.css');

/* General Codrops Demo Style *//*
body{
	background:#e1c9c7 url(../images/pattern.png) repeat top left;
	color:#222;
	font-family:"Merienda One", Georgia, "Times New Roman", serif;
	font-size:12px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1 {
	text-align:center;
	margin:15px;
	font-size:62px;
	color:#8f0630;
	text-shadow:1px 1px 1px #f7edeb;
	padding-bottom:30px;
}
h1 span{
	font-size:18px;
	display:block;
	color:#212121;
}
p{
	text-align:center;
	padding:20px;
	text-shadow:1px 1px 1px #f7edeb;
}
/* Header Style */
.header{
	line-height:24px;
	font-family: Arial, sans-serif;
	font-size:11px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
#carousel .header a{
	line-height:18px;
	padding:0 4px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
}
#carousel .header a:hover{
	color:#fff;
}
#carousel .header a span{
	font-weight:bold;
}
#carousel .header span.right_ab{
	float:right;
}
#carousel .content{
	margin:0px 25px;
}
/* Examples list */

#carousel .more{
	position:relative;
	clear:both;
}
#carousel .more p{
	color:#8f0630;
	font-size:16px;
}
#carousel .more ul{
	display:block;
	text-align:center;
}
#carousel .more ul li{
	display:inline;
	padding:2px;
	line-height:30px;
}
#carousel .more ul li.selected a,
#carousel .more ul li.selected a:hover{
	background:#690322;
	color:#fff;
	text-shadow:none;
}
#carousel .more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#333;
	background:#fff;
	padding:3px 6px;
	white-space:nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#carousel .more ul li a:hover{
	background:#8f0630;
	color:#fff;
	text-shadow:none;
}
#carousel .column{
	width:48%;
	float:left;
	padding:1%;
}
@media screen and (max-width: 640px) {
	#carousel .header{
		text-align:center;
	}
	#carousel .header a{
		font-size:10px;
		text-shadow:none;
		white-space:nowrap;
	}
	#carousel .header span.right_ab{
		float:none;
	}
	#carousel h1{
		font-size:40px;
	}
	#carousel h1 span{
		font-size:16px;
	}
}
