/**FIELDSETS**/

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 0;
}
.fieldset-wrapper {
  overflow: hidden;
}
.fieldset-legend {
  color: #868686;
  font-size: 1.5em;
}
fieldset.checkout-buttons .fieldset-wrapper {
  border: 0;
  padding: 0;
}
/**FORM ITEMS**/

.form-item, .form-actions {
  margin: 5px 0;
}
/**LABELS, TEXTAREAS, SELECTS & INPUTS**/

label {
  font-weight: normal;
  font-size: 0.85em;
}
.form-textarea-wrapper textarea {min-height: 90px;}

.resizable-textarea .grippie {
  display: none
}
.select-jr {
  background: url("../images/flecha-select.png") no-repeat #fff;
    border: 1px solid #666666;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 1.5%;
    width: 100%;
}
select{
  width: 130%;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
input[type="text"], input[type="password"], textarea, input[type="search"], input[type="email"], .form-textarea-wrapper textarea  {
    border: 1px solid #666666;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 1.5%;
    width: 100%;
}
input[type="search"] {
  background-color: #000;
  color: #999999;
}
input[type="text"], input[type="password"], input[type="email"], select, .form-textarea-wrapper textarea  {
  background-color: #fff;
  color: #666666;
}

.page-user input[type="text"], .page-user input[type="password"] {
  width: 50%;
}
/***BOTONES */

input[type="submit"], .form-actions input {
  border:none;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
  margin: 1em 0;
  padding: 5px 10px;
  text-transform: uppercase;
}
input[type="submit"]:active {
}
input[type="submit"]:hover {
}