/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/***************************************GENERAL STYLES***********************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
	background: #212121;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
#zone-user {margin-top: 20px;}
.block-title{color: #2D6CB4;}
.block-title .field-name-body {text-align: center;}
#block-block-5, #block-block-4, #block-block-3{
	border-radius: 5px 5px 0 0;
	padding-left: 4px;
	width: 100%;
}
#block-block-5  {background: url("../images/cabecera-facebook.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-4 {background: url("../images/cabecera-twitter.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-3  {background: url("../images/cabecera-youtube.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-3 h2.block-title, #block-block-4 h2.block-title, #block-block-5 h2.block-title {
	background: url("../images/logo-youtube.png") no-repeat scroll 10px 7px transparent;
	color: white;
    font-size: 1.75em;
    font-weight: normal;
	height: 60px;
    line-height: 2;
    text-indent: 69px;	
}
#block-block-4 h2.block-title {background: url("../images/logo-twitter.png") no-repeat scroll 10px 7px transparent;}
#block-block-5 h2.block-title {background: url("../images/logo-facebook.png") no-repeat scroll 10px 7px transparent;}
#page-title {
	border-bottom: 1px solid #FF7B00;
	color: #FF7B00;
	font-size: 2.51em;
	font-weight: 400;
}
label {color: #FFFFFF;}

/***************************************SLIDER***********************************************/

.nivo-caption{
	left: 70%;
	top: 0px;
	height: 100%;
	width: 30%;
	padding: 3em;
	opacity: 0.9;
	background: #000000;
	background: -moz-linear-gradient(left, transparent 10%, black 80%);
	background: -webkit-gradient(linear, left top, right top, color-stop(10%,transparent), color-stop(80%,black));
	background: -webkit-linear-gradient(left, transparent 10%,black 80%);
	background: -o-linear-gradient(left, transparent 10%,black 80%);
	background: -ms-linear-gradient(left, transparent 10%,black 80%);
	background: linear-gradient(to right, transparent 10%,black 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#000000',GradientType=1 );
}
#block-views-featured-slider-block .nivo-caption h1 {
	font-size: 2em;
	font-weight: 400;
}
#block-views-featured-slider-block .nivo-caption p {font-size: 1.06em;}
#block-views-featured-slider-block  .nivo-controlNav {
	background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, #133155),
		color-stop(0.61, #133B6C),
		color-stop(0.81, #224B88)
	);
	border-radius: 5px 5px 0 0;
	height: 16px;
	left: 1047px;
	padding-left: 14px;
	padding-top: 12px;
	top: -40px;
	width: 7%;
}
#block-views-featured-slider-block  .nivo-controlNav a{
	background: transparent;
	border-radius: 10px;
	height: 5px;
	margin: 0 6px;
	width: 5px;
}
#block-views-featured-slider-block  .nivo-controlNav a.active{background: #F75B04;}
.nivo-caption {
	left: 65%;
	top: 0px;
	height: 100%;
	width: 35%;
	padding: 1em 3em;
	opacity: 0.9;
	background: #000000;
	background: -moz-linear-gradient(left, transparent 10%, black 80%);
	background: -webkit-gradient(linear, left top, right top, color-stop(10%,transparent), color-stop(80%,black));
	background: -webkit-linear-gradient(left, transparent 10%,black 80%);
	background: -o-linear-gradient(left, transparent 10%,black 80%);
	background: -ms-linear-gradient(left, transparent 10%,black 80%);
	background: linear-gradient(to right, transparent 10%,black 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#000000',GradientType=1 );
}
#views-nivo-slider-featured_slider-block {
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}
.views-nivo-slider-view  {padding: 0;}

#block-views-bloque-todos-los-camiones-block .views-row {
	float: left;
	margin-right: 1.5%;
	width: 13%;
}
#block-views-bloque-todos-los-camiones-block .views-row.views-row-last {margin-right: 0;}
#block-views-bloque-todos-los-camiones-block .field-name-field-imagen-destacada img{
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
}
#block-views-bloque-todos-los-camiones-block .field-name-title a{
	background: #DBDBDB;
	color: #272727;
	display: block;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	font-weight: 300;
	padding: 0.3em 0;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
#block-views-bloque-todos-los-camiones-block .views-row:hover .field-name-title a, #block-views-bloque-todos-los-camiones-block .field-name-title a.active {
	background: #E55500;
	color: #FFFFFF;
}
/***************************************HEADER***********************************************/

.branding-data {text-align: center;}
.site-name-slogan {float: none;}
.branding-data  h1.site-name {
	font-size: 7em;
	font-weight: 700;
	margin: 35px 0;
	text-transform: uppercase;
}
#region-user-second .region-inner {overflow: hidden;}
#region-user-second .block {float: right;}
#region-user-second a.twitter-timeline {
    display: block;
    font-size: 0;
    height: 28px;
    width: 30px;
}
div.widgets-element-horizontal {margin-right: 5px;}
#block-widgets-s-socialmedia-profile-default {margin-right: 10px;}

/***************************************MENU***********************************************/

#block-system-main-menu {
	float: right;
	margin-right: 50px;
	max-width: 100%;
	width: auto;
	
}
#block-system-main-menu ul li.leaf {
	float: left;
    height: 27px;
    margin: 0;
    padding: 0;
}
#block-system-main-menu ul li a {
	background: url("../images/menu_1.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #858585;
    color: #474747;
    display: block;
	font-size: 1em;
	font-weight: 400;
    height: 100%;
	line-height: 2;
    padding: 0 22px;
    width: auto;
}
#block-system-main-menu ul li a:hover, #block-system-main-menu ul li a.active {
	background-position: 0 -27px;
    color: #FFFFFF;
}
#block-system-main-menu ul li.first a {border-radius: 5px 0 0 5px;}
#block-system-main-menu ul li.last a {border-radius: 0 5px 5px 0;}
#block-menu-menu-menu-secciones-principales {margin-bottom: 30px;}
#block-menu-menu-menu-secciones-principales .content {
	margin: 0 auto;
	width: 100%;
}
#block-menu-menu-menu-secciones-principales ul {
	overflow: hidden;
	padding: 3%;
}
#block-menu-menu-menu-secciones-principales ul li.leaf {
	float: left;
	width: 18%;
	margin: 1%;
	padding: 0;
	background: url("../images/menu-bg.png") repeat-x scroll top left transparent;
	border-radius: 0.5em;
}
#block-menu-menu-menu-secciones-principales .content ul li a {
	color: #133156;
	display: block;
	font-size: 1em;
	font-weight: 700;
	font-family: gotham medium, "lato", arial;
	width: 60%;
	text-align: center;
	padding: 3.2em 20% 0;
	height: 6.8em;
	text-transform: uppercase;
	line-height: 1.2;
	background-repeat: no-repeat;
	background-position: center 0.5em;
}
#block-menu-menu-menu-secciones-principales .content ul li.first a{
	padding: 3.8em 20% 0;
	height: 6.2em;
}
#block-menu-menu-menu-secciones-principales ul li:hover{background-position: 128px;}
#block-menu-menu-menu-secciones-principales ul li.active-trail{background-position: 256px;}
#block-menu-menu-menu-secciones-principales ul li a:hover, #block-menu-menu-menu-secciones-principales ul li a.active {
	color: #FFFFFF;
	background-position: center -12.1em;
}
a.camiones{background-image: url("../images/ico-camiones.png");}
a.conozca_su_maquina  {background-image: url("../images/ico-repuestos.png");}
a.conviertase_en_experto  {background-image: url("../images/ico-latec.png");}
a.disfrute_su_camion  {background-image: url("../images/ico-servicios.png");}
a.contacte_distribuidor  {background-image: url("../images/ico-contacto.png");}

/***************************************FOOTER***********************************************/

#section-footer {
	background-color: #000000;
	color: #FFFFFF;
}
#section-footer li a:hover, #section-footer li a.active{color: #E55700;}
#zone-footer .block {
	float: left;
	margin-left: 4%;
}
#zone-footer .block#block-menu-menu-cont-ctenos{width: 30%;}
#zone-footer #block-menu-menu-cont-ctenos .leaf {
	float: left;
	width: 31%;
}
#zone-footer a {
	text-decoration: none;
}
#region-footer-first {
	border-bottom: 1px solid #1D1D1D;
	padding: 30px 0;
}
#region-footer-first .block .content {text-align: center;}
#region-footer-first .block ul {text-align: left;}
#region-footer-first .block ul li{
	list-style: circle inside;
	margin: 0;
}
#region-footer-second .block {
	color: #4E4E4E;
	padding: 0.8em 0.5em 0 0.5em;
	margin: 0;
}
#zone-footer #block-block-1{float: left;}
#zone-footer #block-block-2{
	float: right;
	text-align: right;
}
#zone-footer .block-title {
    height: auto;
    margin-bottom: 15px;
    min-height: 18px;
    padding-top: 50px;
    text-align: center;
}
#zone-footer #block-views-menu-block h2{background: url("../images/ico-camion-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-menu-block-1 h2{background: url("../images/ico-tips-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-menu-menu-cont-ctenos h2{background: url("../images/ico-contactenos-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-widgets-s-socialmedia-profile-buttons h2{background: url("../images/ico-siguenos-footer.png") no-repeat scroll center 0 transparent;}
#block-menu-menu-international-menu-inferior h2{background: url("../images/ico-international.png") no-repeat scroll center 0 transparent;}
#block-widgets-s-socialmedia-profile-buttons  div.widgets-element-horizontal {float: none;}

/***************************************HOME***********************************************/

#block-webform-client-block-1 h2.block-title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
/***************************************CONTACTO***********************************************/

#node-webform-9 .webform-component-textfield, #node-webform-9 .webform-component-select {
	float: left;
	width: 25.5%;
}
#node-webform-9 .form-text, #node-webform-9 .form-select {width: 100%;}
#node-webform-9 .webform-component-textarea, #node-webform-9 #edit-actions {width: 52.5%;}
#node-webform-9 #edit-actions {overflow: hidden;}
#node-webform-9 label {padding-left: 10px;}
.marker, .form-required {color: #FF7B00;}
#node-webform-9 #edit-actions .form-submit {
	background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, #133155),
		color-stop(0.61, #133B6C),
		color-stop(0.81, #224B88)
	);
	border: 0;
	border-radius: 7px 7px 7px 7px !important;
	color: #FFFFFF;
	float: right;
    padding: 8px 20px;
}
#webform-component-nombre-completo, #webform-component-correo-electronico {margin-right: 20px;}

/**********************************MASONRY VIEWS - BLOQUES GRISES***********************************/

.front #region-content,
.page-camiones #region-content,
.page-tips-de-juan-rueda #region-content,
.page-noticias-y-eventos #region-content{
	margin: 0;
}

.bloque-gris {}
.bloque-gris .views-row, #block-webform-client-block-1{
	background: #d8d8d8;
	background-image: linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -o-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -moz-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -webkit-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -ms-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.12, #DBD8DB),color-stop(0.56, #E9E9E9),color-stop(0.78, #FFFFFF));
	color: #1C1C1C;
	border-radius: 0.5em;
}
.bloque-gris h2 {
	color: #1B457A;
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 0.7em;
	line-height: 1.2;
	padding-left: 1.5em;
}
.bloque-gris .node-camion h2{padding-left: 0;}
.bloque-gris .node-evento h2{background: url("../images/ico-eventos.png") no-repeat 0 0 transparent;}
.bloque-gris a:link {color: #1B457A;}
.bloque-gris a:hover, .bloque-gris a:visited{text-decoration: underline;}
.bloque-gris a:hover{color: #E55700;}
.bloque-gris a:visited{color: #6E7072;}

.bloque-gris .field-type-image img{
	width: 100%;
	height: auto;
	margin-bottom: 0.5em;
}
.bloque-gris .field-name-body {
	color: #181818;
	font-size: 1em;
	font-weight: 300;
	border-bottom: 1px solid #fff;
	padding-bottom: 1em;
}
.bloque-gris .field-name-body p{margin: 0;}
.bloque-gris .node-article, .bloque-gris .node-evento, .bloque-gris .node-camion {padding: 1em 1.2em 1.2em 1.2em;}
.bloque-gris .node-evento .field-label{float: left;}
.bloque-gris .node-evento .field-name-field-fecha{
	border-bottom: 1px solid #fff;
	padding-bottom: 1em;
}

.bloque-gris .es-carousel-wrapper, .bloque-gris .es-carousel{background: none;}
.bloque-gris #carousel .es-nav span.es-nav-prev{background: transparent url(../images/flecha-bloque-izq.png) no-repeat top left;}
.bloque-gris #carousel .es-nav span.es-nav-next{background: transparent url(../images/flecha-bloque-der.png) no-repeat top left;}
.bloque-gris .node #carousel ol, .bloque-gris .node #carousel ul{padding-left: 0;}



