/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/***************************************GENERAL STYLES***********************************************/

body {background: #212121;}
a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
#zone-user {margin-top: 20px;}
.bloque-gris {}
.bloque-gris .views-row, #block-webform-client-block-1{
	background: #d8d8d8;
	background-image: linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -o-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -moz-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -webkit-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -ms-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.12, #DBD8DB),color-stop(0.56, #E9E9E9),color-stop(0.78, #FFFFFF));
	color: #1C1C1C;
}
.bloque-gris h2 {
	color: #1B457A;
	font-size: 1.5em;
	font-family: gotham regular;
	font-weight: normal;
}
.bloque-gris a {color: #1B457A;}
.bloque-gris .field-name-body {
	color: #181818;
	font-size: 1em;
	font-family: gotham regular;
}
.bloque-gris .node-article {padding: 12px 15px 15px;}
.block-title{color: #2D6CB4;}
.block-title .field-name-body {
	text-align: center;
}
#block-block-5, #block-block-4, #block-block-3{
	border-radius: 5px 5px 0 0;
	padding-left: 4px;
}
#block-block-5  {background: url("../images/cabecera-facebook.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-4 {background: url("../images/cabecera-twitter.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-3  {background: url("../images/cabecera-youtube.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-3 h2.block-title, #block-block-4 h2.block-title, #block-block-5 h2.block-title {
	background: url("../images/logo-youtube.png") no-repeat scroll 0 0 transparent;
	color: white;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 2.5;
    text-indent: 69px;	
}
#block-block-4 h2.block-title {background: url("../images/logo-twitter.png") no-repeat scroll 0 0 transparent;}
#block-block-5 h2.block-title {background: url("../images/logo-face.png") no-repeat scroll 0 0 transparent;}
#page-title {
	color: #FF7B00;
	font-size: 2.51em;
	font-family: gotham medium;
}
label {color: #FFFFFF;}
/***************************************HEADER***********************************************/
.branding-data {text-align: center;}
.site-name-slogan {float: none;}
.branding-data  h1.site-name {
	font-size: 4em;
	font-weight: normal;
	margin: 35px 0;
}
#region-user-second .region-inner {overflow: hidden;}
#region-user-second .block {float: right;}
#region-user-second a.twitter-timeline {
    display: block;
    font-size: 0;
    height: 28px;
    width: 30px;
}
div.widgets-element-horizontal {margin-right: 5px;}
#block-widgets-s-socialmedia-profile-default {margin-right: 10px;}

/***************************************MENU***********************************************/

#block-system-main-menu {
	float: right;
	margin-right: 50px;
	max-width: 100%;
	width: auto;
	
}
#block-system-main-menu ul li.leaf {
	float: left;
    height: 27px;
    margin: 0;
    padding: 0;
}
#block-system-main-menu ul li a {
	background: url("../images/menu_1.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #858585;
    color: #474747;
    display: block;
	font-size: 1em;
	font-family: gotham medium;
    height: 100%;
	line-height: 2;
    padding: 0 22px;
    width: auto;
}
#block-system-main-menu ul li a:hover, #block-system-main-menu ul li a.active {
	background-position: 0 -27px;
    color: #FFFFFF;
}
#block-system-main-menu ul li.first a {border-radius: 5px 0 0 5px;}
#block-system-main-menu ul li.last a {border-radius: 0 5px 5px 0;}
#block-menu-menu-menu-secciones-principales {margin-bottom: 30px;}
#block-menu-menu-menu-secciones-principales .content {
	margin: 0 auto;
    width: 75%;
}
#block-menu-menu-menu-secciones-principales ul {overflow: hidden;}
#block-menu-menu-menu-secciones-principales ul li.leaf{float: left;}
#block-menu-menu-menu-secciones-principales ul li a {
    color: #133156;
	display: block;
	font-size: 1.06em;
	font-family: gotham medium;
    height: 128px;
	width: 160px;
}
#block-menu-menu-menu-secciones-principales ul li a:hover, #block-menu-menu-menu-secciones-principales ul li a.active {color: #FFFFFF;}
a.camiones{background: url("../images/camiones.png") no-repeat scroll 0 0 transparent;}
a.conozca_su_maquina  {background: url("../images/conozca_su_maquina.png") no-repeat scroll 0 0 transparent;}
a.conviertase_en_experto  {background: url("../images/disfrute_su_camion.png") no-repeat scroll 0 0 transparent;}
a.disfrute_su_camion  {background: url("../images/conviertase_en_experto.png") no-repeat scroll 0 0 transparent;}
a.contacte_distribuidor  {background: url("../images/contacte_su_distribuidor.png") no-repeat scroll 0 0 transparent;}
a.camiones.active {background-position: 0 -130px;}
a.conozca_su_maquina.active {background-position: 0 -130px;}
a.conviertase_en_experto.active  {background-position: 0 -130px;}
a.disfrute_su_camion.active  {background-position: 0 -130px;}
a.contacte_distribuidor.active  {background-position: 0 -130px;}

/***************************************FOOTER***********************************************/

#zone-footer {
	background-color: #000000;
	color: #FFFFFF;
}
#zone-footer .block {
	float: left;
	width: 20%;
}
#zone-footer a {
	text-decoration: none;
}
#region-footer-first {
	border-bottom: 1px solid #1D1D1D;
	padding: 30px 0;
}
#region-footer-first .block .content {text-align: center;}
#region-footer-first .block ul {margin-left: 35px;}
#region-footer-second .block {
	color: #4E4E4E;
	padding-left: 60px;
	width: 41%;
}
#block-block-1{float: left;}
#block-block-2{float: right;}
#zone-footer .block-title {
    height: auto;
    margin-bottom: 15px;
    min-height: 18px;
    padding-top: 50px;
    text-align: center;
}
#zone-footer  #block-views-menu-block h2{background: url("../images/ico-camion-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer  #block-menu-block-1 h2{background: url("../images/ico-tips-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer  #block-menu-menu-cont-ctenos h2{background: url("../images/ico-contactenos-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer  #block-widgets-s-socialmedia-profile-buttons h2{background: url("../images/ico-siguenos-footer.png") no-repeat scroll center 0 transparent;}
#block-menu-menu-international-menu-inferior h2{background: url("../images/ico-international.png") no-repeat scroll center 0 transparent;}
#block-widgets-s-socialmedia-profile-buttons  div.widgets-element-horizontal {float: none;}

/***************************************HOME***********************************************/


#block-webform-client-block-1 h2.block-title {
    font-family: gotham medium;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}