@import url("provicional.css");
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/***************************************GENERAL STYLES***********************************************/

/*@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);*/

iframe{max-width: 100%}
#zone-user {margin-top: 20px;}
.block-title{color: #2D6CB4;}
.block-title .field-name-body {text-align: center;}
#block-block-14 h2{
    color: #FFFFFF;
    font-size: 1.7em;
    margin: 20px 0 30px;
    text-align: center;
    font-weight: 300;
}

.field-type-image{text-align: center;}

.page-contacte-su-distribuidor .container-12 .grid-4 {
   
}
.page-contacte-su-distribuidor #page-title {
    background: url("../images/ico-contacto.png") no-repeat scroll left -294px transparent;
    padding-left: 50px;
}

#block-block-9, #block-widgets-s-facebook-like-box{
    margin-bottom: 4%;
}

#page-title {
    border-bottom: 1px solid #FF7B00;
    color: #FF7B00;
    font-size: 2.51em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 4%;
}
label {color: #FFFFFF;}
#section-content {
    margin-bottom: 40px;
    background-color: #222;
}

#breadcrumb{
	color: #2F76CD;
	background: url("../images/ico-migadepan.png") no-repeat scroll 0 4px transparent;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 25px;
}
#breadcrumb h2.element-invisible{
	position: relative !important;
	float: left;
	margin: 0 5px 0 0;
	font-weight: 300;
	font-size: 1em;
}

.breadcrumb a{color: #e3e3e3;}
.breadcrumb a:first-letter{text-transform: uppercase;}

#region-content.grid-12{
    margin: 20px 0 40px !important;
}

form .form-submit, .view-mapa-contacto .attachment .views-field-php-1 span, .view-mapa-contacto .attachment .views-field-php span,
.pager li a {
	background-color: #133155;
    background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133155', endColorstr='#224B88',GradientType=0 );
    border: 0;
    border-radius: 7px 7px 7px 7px !important;
    color: #FFFFFF;
    float: right;
    padding: 8px 20px;
	behaviour: url(/sites/all/themes/juan_rueda/css/PIE.htc);
}


/******** Contenidos - Interna *********/

#block-system-main .field-name-body p{
	font-size: 1em;
	line-height: 1.3;
}
.responsive-layout-mobile #block-system-main .field-name-body p{font-size: 0.85em;}


/***************************************SLIDER***********************************************/

.nivo-caption{
	display: none !important;
	background-color: transparent;
    /*background: -moz-linear-gradient(left, transparent 10%, black 80%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%,transparent), color-stop(80%,black));
    background: -webkit-linear-gradient(left, transparent 10%,black 80%);
    background: -o-linear-gradient(left, transparent 10%,black 80%);
    background: -ms-linear-gradient(left, transparent 10%,black 80%);
    background: linear-gradient(to right, transparent 10%,black 80%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#000000',GradientType=1 );*/
    /*height: 100%;
    left: 70%;
    opacity: 0.9;
    padding: 3em;
    top: 0px;
    width: 30%;*/
}

.theme-dark .nivoSlider img {
    border: 2px solid #888888;
    border-radius: 10px 10px 10px 10px;
}
.theme-dark .nivoSlider{
    background-color: transparent !important;
}
.theme-dark.slider-wrapper{
	padding: 0;
	background: none;
}

#block-views-featured-slider-block .nivo-caption h1, .field-name-field-slider-camion .nivo-caption h1{
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
}
#block-views-featured-slider-block .nivo-caption p, .field-name-field-slider-camion .nivo-caption p {
    font-size: 0.9em;
    margin: 10px 0;
    font-weight: 400;
}
#block-views-featured-slider-block .nivo-controlNav, .field-name-field-slider-camion .nivo-controlNav {
    background-color: #224B88;
    background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.22, #133155),color-stop(0.61, #133B6C),    color-stop(0.81, #224B88));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133155', endColorstr='#224B88',GradientType=0 );
    border-radius: 10px 10px 0 0;
    width: auto;
    padding: 5px;
    margin: -2.6em 1.5em 0 0;
    float: right;
    behaviour: url(/sites/all/themes/juan_rueda/css/PIE.htc);
}
#block-views-featured-slider-block .nivo-controlNav a, .field-name-field-slider-camion .nivo-controlNav a{
    background: url("../images/jr-images.png") no-repeat scroll -23px -427px transparent;
    border-radius: 10px;
    height: 14px;
    margin: 0 3px;
    width: 14px;
}
#block-views-featured-slider-block .nivo-controlNav a.active, .field-name-field-slider-camion .nivo-controlNav a.active{
	background: url("../images/jr-images.png") no-repeat scroll -25px -415px transparent;
}
#block-views-featured-slider-block .nivo-directionNav, .field-name-field-slider-camion .nivo-directionNav{display: none;}

#views-nivo-slider-featured_slider-block {
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: auto !important;
    width: 100% !important;
}
.views-nivo-slider-view  {padding: 0;}

#carousel-historico{
    background: url("../images/fondo-slider-historia.jpg") repeat-x scroll 0 0 #000000;
    border: 3px solid #555555;
    margin: 20px 0;
    padding: 2% 5%;
}

#carousel-historico .es-carousel ul li{
	display: block;
	float: left;
}
#carousel-historico .es-carousel ul li span{
	color: #FF7B00;
	font-weight: 300;
	font-size: 1.5em;
}

.es-nav span {
    height: 40px;
    width: 40px;
}
.es-nav span{
	background: url("../images/flechas-slider.png") no-repeat transparent;
	background-size: 100%;
	height: 30px;
	width: 30px;
	left: 0;
}
.es-nav span.es-nav-prev {background-position: 0 -223px;}
.es-nav span.es-nav-next {
	background-position: 0 0;
	right: 0;
}

.es-nav span:hover{opacity: 1;}
.es-nav span.es-nav-next:hover {background-position: 0 -75px;}
.es-nav span.es-nav-prev:hover {background-position: 0 -298px;}

.es-carousel {
    background: none repeat scroll 0 0 transparent;
    overflow: hidden;
}

#block-juanrueda-galeria-camiones-galeria-camiones{margin: 2em 0 1em 0;}

#carousel-camion li img{
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
#carousel-camion li a span{
    background: none repeat scroll 0 0 #DBDBDB;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: #777777;
    display: block;
    font-size: 1em;
    padding: 5px 0;
    text-align: center;
}
#carousel-camion li a:hover span, #carousel-camion li a.active span {
    background: #E55500;
    color: #FFFFFF;
}
#carousel-camion.es-carousel-wrapper, #carousel-camion .es-carousel{background: none;}
#carousel-camion.es-carousel-wrapper{padding: 0 2.1em;}

.responsive-layout-wide #carousel-camion.es-carousel-wrapper{padding: 0;}
.responsive-layout-wide #carousel-camion .es-nav {display: none;}
.responsive-layout-wide #carousel-camion ul{
    width: 100% !important;
    text-align: center;
}
.responsive-layout-wide #carousel-camion ul li{margin-right: 1.7% !important;}
.responsive-layout-wide #carousel-camion ul li.last{margin-right: 0 !important;}

.es-carousel ul li a img {
    display: block;
    width: 100%;
}
.es-carousel ul li {
    display: inline-block;
    height: 100%;
    float: none;
    *display: inline;
    *zoom:1;
}


/***************************************HEADER***********************************************/

.responsive-layout-wide #section-header{background: url("../images/juan-logo-home.png") no-repeat center bottom transparent;}
.responsive-layout-normal #section-header,
.responsive-layout-narrow #section-header,
.responsive-layout-mobile #section-header
{background: url("../images/juan-rueda.png") no-repeat left bottom transparent;}

.branding-data {text-align: center;}
.site-name-slogan {float: none;}
.branding-data  h1.site-name, .branding-data h2.site-name {
    background-image: url("../images/jr-texto.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 52px;
    margin: 3em 0 1.5em 0;
    text-indent: -9999px;
}
.responsive-layout-normal .branding-data  h1.site-name, .responsive-layout-normal .branding-data h2.site-name,
.responsive-layout-narrow .branding-data  h1.site-name, .responsive-layout-narrow .branding-data h2.site-name
{background-size: 50% auto;}
.responsive-layout-mobile .branding-data  h1.site-name, .responsive-layout-mobile .branding-data h2.site-name{
	background-position: center right;
	margin: 1em 1em 0.5em 0;
	background-size: 60%;
}

#region-user-second .region-inner {overflow: hidden;}
#region-user-second a.twitter-timeline {
    display: block;
    font-size: 0;
    height: 28px;
    width: 30px;
}
div.widgets-element-horizontal {margin-right: 5px;}
#block-widgets-s-socialmedia-profile-default {margin-right: 10px;}
#block-block-12{
    float: left;
}
.social_networks_links{
    margin: 0;
    padding: 0;
}
.social_networks_links li{
    float: left;
    margin: 0.2em;
    list-style: none;
}
.social_networks_links li a{
    background: url("../images/jr-images.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 28px;
    text-indent: -9999px;
    width: 32px;
}
.social_networks_links li#twitter a{background-position: -57px -15px }
.social_networks_links li#facebook a{background-position: -15px -15px}
.social_networks_links li#youtube a{background-position: -98px -15px }
.social_networks_links li#twitter a:hover{background-position: -57px -43px }
.social_networks_links li#facebook a:hover{background-position: -15px -43px}
.social_networks_links li#youtube a:hover{background-position: -98px -43px }

/***search***/

#region-user-second #block-search-form{
    float: right;
    width: 50%;
}
#region-user-second #block-search-form h2{display: none;}
#region-user-second #block-search-form .content{
    border: 1px solid #777777;
    border-radius: 4px 4px 4px 4px;
}
#region-user-second #block-search-form #edit-submit,
#region-user-second #block-search-form #edit-actions input,
#region-user-second #block-search-form .form-actions input{
    filter: none;
    background: url("../images/jr-images.png") no-repeat scroll -155px -13px transparent;
    border-radius: 0 0 0 0 !important;
    height: 25px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 25px;
    float: right;
}
.block-search form .form-item {
  margin: 0;
}
.block-search form input.form-text {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  float: left;
  font-size: 0.8em;
  line-height: 1;
  margin: 1px 5px 0 0;
  padding: 5px 10px;
  width: 50%;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*************************************** MENUS HEADER ***********************************************/

#block-system-main-menu {
    float: right;
    margin-right: 4%;
}
#block-system-main-menu ul{float: right;}
#block-system-main-menu ul li.leaf {
    float: left;
    height: 27px;
    margin: 0;
    padding: 0;
}
#block-system-main-menu ul li a {
    background: url("../images/menu_1.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #858585;
    color: #474747;
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    height: 100%;
    line-height: 2;
    padding: 0 22px;
    width: auto;
}
#block-system-main-menu ul li a:hover, #block-system-main-menu ul li a.active {
    background-position: 0 -27px;
    color: #FFFFFF;
}
#block-system-main-menu ul li.first a {border-radius: 5px 0 0 5px;}
#block-system-main-menu ul li.last a {border-radius: 0 5px 5px 0;}
#block-menu-menu-menu-secciones-principales {margin-bottom: 1em;}
#block-menu-menu-menu-secciones-principales .content {
    margin: 0 auto;
    width: 100%;
}
#block-menu-menu-menu-secciones-principales ul.menu {
    overflow: hidden;
    padding: 0 3%;
}
#block-menu-menu-menu-secciones-principales ul li.leaf {
    background: url("../images/menu-bg.png") repeat-x scroll top left transparent;
    border-radius: 0.5em;
    behaviour: url(/sites/all/themes/juan_rueda/css/PIE.htc);
    float: left;
    margin: 1%;
    padding: 0;
    width: 18%;
}

/*#block-menu-menu-menu-secciones-principales ul li.leaf.menu-1747,
#block-menu-menu-menu-secciones-principales ul li.expanded.menu-1746 a.mobile,*/
#block-menu-menu-menu-secciones-principales ul li.leaf.menu-1183,
#block-menu-menu-menu-secciones-principales ul li.leaf.menu-1745
{display: none;}

#block-menu-menu-menu-secciones-principales .content ul li a  {
    background-position: center 0.2em;
    background-repeat: no-repeat;
    display: block;
    font-family: "lato",sans-serif;
	font-weight: 400;
    font-size: 0.95em;
    height: 5.9em;
    line-height: 1.1;
    margin: auto;
    padding: 40px 0 0;
    text-align: center;
    width: 90%;
}
#block-menu-menu-menu-secciones-principales .content ul li a,
#block-menu-menu-menu-secciones-principales .content ul li a:visited,
#block-menu-menu-menu-secciones-principales .content ul li a:active,
#block-menu-menu-menu-secciones-principales .content ul li a span, 
#block-menu-menu-menu-secciones-principales .content ul li a:visited span,
#block-menu-menu-menu-secciones-principales .content ul li a:active span{
	display: block;
	text-decoration: none;
}

#block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{
    color: #133156;
    display: table-cell;
    font-size: 0.9em;
    height: 40px;
    margin: 3px 0 5px;
    padding: 0 10%;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 40%;
}
#block-menu-menu-menu-secciones-principales .content ul li a span.texto {
    color: #272727;
    font-size: 0.9em;
    font-weight: normal;
    margin: auto;
    width: 85%;
}
#block-menu-menu-menu-secciones-principales ul li:hover{background-position: 128px;}
#block-menu-menu-menu-secciones-principales ul li.active-trail{background-position: 256px;}
#block-menu-menu-menu-secciones-principales ul li a:hover, #block-menu-menu-menu-secciones-principales ul li a.active {background-position: center -9.5em;}
#block-menu-menu-menu-secciones-principales ul li a:hover span.titulo_menu, 
#block-menu-menu-menu-secciones-principales ul li a.active span.titulo_menu, 
#block-menu-menu-menu-secciones-principales ul li a:hover span.texto,
#block-menu-menu-menu-secciones-principales ul li a.active span.texto{color: #FFFFFF;}
a.camiones{background-image: url("../images/ico-camiones.png");}
a.conozca_su_maquina  {background-image: url("../images/ico-repuestos.png");}
a.conviertase_en_experto  {background-image: url("../images/ico-latec.png");}
a.disfrute_su_camion  {background-image: url("../images/ico-servicios.png");}
a.contacte_distribuidor  {background-image: url("../images/ico-contacto.png");}

/***************************************FOOTER***********************************************/

#section-footer {
    background-color: #000000;
    color: #FFFFFF;
}
#section-footer li a:hover, #section-footer li a.active{color: #E55700;}
#zone-footer .block{
    float: left;
    margin: 1%;
    width: 15%;
}
#zone-footer .block#block-menu-menu-paises{width: 30%;}
#zone-footer #block-menu-menu-paises .leaf {
    float: left;
    width: 30%;
}
#zone-footer a {
    text-decoration: none;
    color: #888;
}
#block-block-13.block ul, 
#block-menu-menu-international-menu-inferior.block ul,
#block-views-menu-block.block ul {
    width: 50%;
}
#region-footer-first > .region-inner{
    padding: 30px 0;
}

#region-footer-first .block ul  {
    font-size: 0.85em;
    list-style: none outside none;
    margin: auto;
    overflow: hidden;
    padding-left: 20px;
    text-align: left;
}
#region-footer-first .block ul li{
    margin: 0;
    list-style: circle;
}
#region-footer-second .block {
    color: #4E4E4E;
    padding: 0.8em 0.5em 0 0.5em;
    margin: 0;
}
#zone-footer #block-block-1 a, #zone-footer #block-block-2 a{color: #777777 !important;}
#zone-footer #block-block-1 {
    float: left;
    width: auto;
}
#region-footer-second{
	border-top: 1px solid #222;
	margin-top: 2em;
}
#region-footer-second p{
    font-size: 0.85em;
    font-weight: 400;
    height: auto;
    min-height: 18px;
    text-align: center;
}
ul.menu {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#zone-footer #block-block-2{
    float: right;
    text-align: right;
    width: auto;
}
#zone-footer .block-title  {
    font-size: 1.1em;
    height: auto;
    margin-bottom: 15px;
    min-height: 18px;
    padding-top: 50px;
    text-align: center;
}

#block-menu-menu-international-menu-inferior h2{background: url("../images/ico-international.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-views-menu-block h2{background: url("../images/ico-camion-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-menu-menu-tips-de-juan-rueda h2{background: url("../images/ico-tips-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-menu-menu-paises h2{background: url("../images/ico-contactenos-footer.png") no-repeat scroll center 0 transparent;}
#zone-footer #block-block-13 h2{background: url("../images/ico-siguenos-footer.png") no-repeat scroll center 0 transparent;}

#region-footer-first .block ul.social_networks_sitemap{padding-left: 0;}
#region-footer-first .block ul.social_networks_sitemap li{
    background: url("../images/ico-footer-redes.png") no-repeat transparent;
    list-style: none;
    padding-left: 1.5em;
    line-height: 1;
    margin-bottom: 0.5em;
}
.block ul.social_networks_sitemap li#twitter {
background-position: 0px -28px;
}
.block ul.social_networks_sitemap li#facebook {background-position: 0px 1px;}
.block ul.social_networks_sitemap li#youtube {background-position: 0px -60px;}
.block ul.social_networks_sitemap li#twitter:hover {background-position: 0px -41px;}
.block ul.social_networks_sitemap li#facebook:hover {background-position: 0px -11px;}
.block ul.social_networks_sitemap li#youtube:hover {background-position: 0px -72px;}

/***************************************HOME***********************************************/

#block-webform-client-block-1{padding: 1em;}
#block-webform-client-block-1 h2.block-title {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.15;
    margin-bottom: 5px;
    text-align: center;
}
#block-webform-client-block-1 .form-actions{
    text-align: center;
    margin-bottom: 0;
}
#block-webform-client-block-1 input[type="text"] {
    border: 1px solid #B0B0B0;
    background: #fff;
    display: block;
    margin: auto;
}
#block-webform-client-block-1 label{
    display: none;
}
#block-webform-client-block-1 .form-submit {float: none;}

#region-postscript-first p, #region-postscript-second p{margin: 0;}



/***************************************CONTACTO***********************************************/

#block-webform-client-block-62 h2.node-title{display: none;}
#block-webform-client-block-62 .field-name-body{position: relative;}
#block-webform-client-block-62 p.obligatory {color: #FF7B00;}
#block-webform-client-block-62 p.intro-contact-form{
	position: absolute;
	top: 1em;
	left: 1em;
	background: rgba(0, 0, 0, 0.6);
	padding: 0.5em;
	border-radius: 0.5em;
	max-width: 50%;
	text-align: left;
}

#block-webform-client-block-62 .webform-component-textfield,
#block-webform-client-block-62 .webform-component-select,
#block-webform-client-block-62 .webform-component-email {
    float: left;
    width: 47%;
}
.responsive-layout-mobile #block-webform-client-block-62 .webform-component-textfield,
.responsive-layout-mobile #block-webform-client-block-62 .webform-component-select,
.responsive-layout-mobile #block-webform-client-block-62 .webform-component-email {width: 98%}

#block-webform-client-block-62 .webform-component-textarea {float: left;}
#block-webform-client-block-62 .webform-component-textarea, #block-webform-client-block-62 #edit-actions {width: 98%;}
#block-webform-client-block-62 #edit-actions {overflow: hidden;}
#block-webform-client-block-62 label {padding-left: 10px;}
.marker, .form-required {color: #FF7B00;}

.pager li.pager-next{
    border-left: 0;
}
.pager li a {
    color: #fff !important;
}
.pager {
    border-width: 0;
    background: none repeat scroll 0 0 transparent;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}
form .form-submit:hover, .responsive-layout-mobile .mapa-sitio-render, .view-mapa-contacto .attachment .views-field-php-1 span:hover,
.view-mapa-contacto .attachment .views-field-php span:hover {
	background-color: #194E99;
    background-image: linear-gradient(bottom, #194E99 45%, #2E78C1 73%);
    background-image: -o-linear-gradient(bottom, #194E99 45%, #2E78C1 73%);
    background-image: -moz-linear-gradient(bottom, #194E99 45%, #2E78C1 73%);
    background-image: -webkit-linear-gradient(bottom, #194E99 45%, #2E78C1 73%);
    background-image: -ms-linear-gradient(bottom, #194E99 45%, #2E78C1 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194E99', endColorstr='#2E78C1',GradientType=0 );
}
#webform-component-nombre-completo, #webform-component-correo-electronico {margin-right: 20px;}
#webform-component-correo-electronico {clear: left;}

.view-mapa-contacto h2{
    font-size: 1.5em;
    font-weight: 300;
}
.view-mapa-contacto .attachment, .view-mapa-contacto .view-content {float: left;}
.view-mapa-contacto .attachment .view{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px;
    color: #252526;
    font-size: 1em;
}
.view-mapa-contacto .attachment .views-field-field-ciudad div{
    font-size: 1.06em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.view-mapa-contacto .views-row {
    font-size: 0.85em;
    margin: 1.5em 1em;
}
.view-mapa-contacto .view-content {margin: 0 10px;}

.responsive-layout-mobile .view-mapa-contacto .view-content, .responsive-layout-mobile .view-mapa-contacto .attachment {width: 100%;}

.view-mapa-contacto .view-mapa-contacto .view-content {
    height: 375px;
    margin-left: 0;
    overflow: auto;
    width: 100% !important;
    margin: 0;
}
.view-mapa-contacto .view-mapa-contacto ul, .view-mapa-contacto .view-mapa-contacto li {overflow: hidden;}
.view-mapa-contacto .attachment .views-field-php-1 , .view-mapa-contacto .attachment .views-field-php  {
    float: left;
    margin-top: 0.5em;
}
.view-mapa-contacto .attachment .views-field-php-1 a, .view-mapa-contacto .attachment .views-field-php a {float: none;}
.view-mapa-contacto .attachment .views-field-php {margin-right: 5%;}
.view-mapa-contacto  .gmap-control {
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    width: 98% !important;
}
.page-contacte-su-distribuidor #block-system-main {
    float: left;
    width: 100%;
}
.view-mapa-contacto .attachment h3 {
	background-color: #B3B3B3;
    background-image: linear-gradient(bottom, #B3B3B3 16%, #CFCFCF 58%);
    background-image: -o-linear-gradient(bottom, #B3B3B3 16%, #CFCFCF 58%);
    background-image: -moz-linear-gradient(bottom, #B3B3B3 16%, #CFCFCF 58%);
    background-image: -webkit-linear-gradient(bottom, #B3B3B3 16%, #CFCFCF 58%);
    background-image: -ms-linear-gradient(bottom, #B3B3B3 16%, #CFCFCF 58%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B3B3B3', endColorstr='#CFCFCF',GradientType=0 );
    border-radius: 5px 5px 0 0;
    background-color: #B3B3B3;
    border-radius: 5px 5px 0 0;
    color: #555555;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 4% 0 4% 8%;
}
.view-mapa-contacto .views-field-php span,
.view-mapa-contacto .views-field-php-1 span{
    padding: 0 !important;
}
.view-mapa-contacto .views-field-php a,
.view-mapa-contacto .views-field-php-1 a{
    color: #FFFFFF;
    display: inline-block;
    padding: 8px 15px 10px 25px;
    *display: inline;
    *zoom: 1;
}
.view-mapa-contacto .views-field-php a{
    background: url("../images/ico-contactar-mini.png") no-repeat 5px center transparent;
}
.view-mapa-contacto .views-field-php-1 a{
    background: url("../images/ico-ubicar-mapa.png") no-repeat 5px center transparent;
}
.view-mapa-contacto .gmnoprint {color: #000000;}
.view-mapa-contacto .gmnoprint a{color: #133156;}

/**********************************MASONRY VIEWS - BLOQUES GRISES***********************************/

.front #region-content,
.page-camiones #region-content,
.page-tips-de-juan-rueda #region-content,
.page-tips #region-content,
.page-noticias-y-eventos #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12,
.node-type-camion #region-content.grid-12{
	margin: 0;
}

.page-camiones h1, .page-camiones .view-camiones .view-filters, .page-camiones .view-camiones .view-header,
.page-tips-de-juan-rueda h1, .page-tips-de-juan-rueda #block-system-main .view-header,
.page-tips h1, .page-tips #block-system-main .view-header,
.page-noticias-y-eventos h1,
.page-contacte-su-distribuidor h1, .view-mapa-contacto .view-header,
.node-type-camion h1
{
	margin: 0 10px;
}
.view-mapa-contacto .attachment .view-header{margin: 0;}



.bloque-gris .views-row, #block-webform-client-block-1{
    background-color: #d8d8d8;
    background-image: linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
    background-image: -o-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
    background-image: -moz-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
    background-image: -webkit-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
    background-image: -ms-linear-gradient(bottom, #DBD8DB 12%, #E9E9E9 56%, #FFFFFF 78%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.12, #DBD8DB),color-stop(0.56, #E9E9E9),color-stop(0.78, #FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBD8DB', endColorstr='#FFFFFF',GradientType=0 );
    color: #1C1C1C;
    border-radius: 0.5em;
}
.bloque-gris h2{magin-bottom: 0;}
.bloque-gris h2 a{
    color: #1B457A;
    display: block;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1;
    padding: 0 0 16px 50px;
}

.page-camiones .bloque-gris h2 a{padding-left: 0;}
/*.page-noticias-y-eventos .bloque-gris h2 a {font-size: 1em;}*/


.front #block-system-main{
    display: none;
}
.bloque-gris .node-article .field-name-title a{background-image: url("../images/ico-noticias.png");}
.bloque-gris .categoria- .field-name-title a{background-image: url("../images/ico-camiones.png");}
.bloque-gris .categoria-3 .field-name-title a{background-image: url("../images/ico-repuestos.png");}
.bloque-gris .categoria-4 .field-name-title a{background-image: url("../images/ico-latec.png");}
.bloque-gris .categoria-5 .field-name-title a{background-image: url("../images/ico-servicios.png");}
.bloque-gris .node-evento .field-name-title a{background-image: url("../images/ico-eventos.png");}

.bloque-gris .field-name-title a{
    background-repeat: no-repeat;
    background-color: transparent;
}

.bloque-gris .node-article .field-name-title a:link, .bloque-gris .node-evento .field-name-title a:link{background-position: 0 -6px;}
.bloque-gris .node-article .field-name-title a:hover, .bloque-gris .node-evento .field-name-title a:hover{background-position: 0 -308px;}
.page-tips .bloque-gris .node-article .field-name-title a, .node-type-camion .bloque-gris .node-article .field-name-title a{background: none;}


.page-tips .bloque-gris .node-article .field-name-title a,
.node-type-camion .bloque-gris .node-article .field-name-title a{
	background: none;
	padding-left: 0;
}

.view-pagina-por-t-rmino-de-taxonom-a .field-name-title {
    font-size: 0.8em;
}
.view-camiones .field-name-title {
    font-size: 1.2em;
}


.bloque-gris a:link {color: #1B457A;}
.bloque-gris a:hover{text-decoration: underline;}
.bloque-gris a:hover{color: #E55700;}
.bloque-gris .field-type-image img{
    height: auto;
    margin-bottom: 0.5em;
    width: 100%;
}
.bloque-gris .field-name-body {
    color: #181818;
    font-size: 1em;
    font-weight: 300;
}
.bloque-gris .node-article, .bloque-gris .node-evento, .bloque-gris .node-camion {padding: 1em 1.2em 1.2em 1.2em;}
.bloque-gris .node-evento .field-label{float: left;}
.bloque-gris .node-evento .field-name-field-fecha{
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}
.bloque-gris .es-carousel-wrapper, .bloque-gris .es-carousel{background: none;}
.bloque-gris #carousel .es-nav span.es-nav-prev{background: transparent url(../images/flecha-bloque-izq.png) no-repeat top left;}
.bloque-gris #carousel .es-nav span.es-nav-next{background: transparent url(../images/flecha-bloque-der.png) no-repeat top right;}
.bloque-gris .node #carousel ol, .bloque-gris .node #carousel ul{padding-left: 0;}
.link-conteo{
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    padding-top: 4%;
}
.link-conteo ul{padding: 0;}
.link-conteo li{
    float: left;
    list-style: none outside none;
}
.link-conteo li.comentario .number{
	background: url("../images/bg-comentarios.png") no-repeat scroll center top transparent;
}
.link-conteo li.flag .number{
	background: url("../images/bg-like.png") no-repeat scroll center top transparent;
}
.link-conteo li.visitas .number{
    background: url("../images/visitas.png") no-repeat scroll center top transparent;
    padding: 5px 0 5px 27px
}
.link-conteo li .number{
    padding: 5px 0 5px 32px;
    width: 35px;
    margin: auto;
}
.link-conteo li .label{
    font-weight: 600;
    text-align: center;
}
.link-conteo li{
    font-size: 0.7em;
    margin: 0;
    width: 33%;
}
.link-conteo li span{
    display: block;
    text-align: center;
}
.view-entradas-recientes .field-name-node-link {
border-bottom: 1px solid white;
padding-bottom: 4%;
}
.field-name-node-link a{
    background: url("../images/ver_mas.png") no-repeat scroll right 3px transparent;
    font-size: 0.8em;
    font-weight: 600;
    padding-right: 15px;
}
.field-name-node-link{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
}
/*.bloque-gris a:visited{
    color: #1B457A !important; 
}*/

.view-noticias-y-eventos .view-content{
	overflow: hidden;
	width: auto !important;
}



/**************************** PAGINA CAMIONES **********************************/

.page-camiones .view-header h2{
    color: #ffffff;
    font-size: 1.8em;
	font-weight: 300;
    margin-top: 0;
}

.view-id-camiones .views-exposed-form{float: right;}
.view-id-camiones .views-exposed-form label, .view-id-camiones .views-exposed-form .views-widget{float: left;}
.view-id-camiones .views-exposed-form label{padding: 0.3em 1em;}
.view-id-camiones .views-exposed-form .views-widget .select-jr{margin: 0;}


/**********************************BARRA DERECHA***********************************/

.view-art-culos-relacionados .item-list ul li {margin: 0;}
.view-art-culos-relacionados .views-row p {margin: 0;}
.view-art-culos-relacionados .views-row{
    border-bottom: 1px solid #B5B5B5;
    padding: 1em;
}
#block-views-art-culos-relacionados-block .block-title {
	color: #FFFFFF;
	font-weight: 300;
}
.view-calendario-de-eventos {background: #FFFFFF;}
#block-views-calendario-de-eventos-block-1 h2.block-title{
    color: #FFFFFF;
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
}
.view-calendario-de-eventos .field-name-field-imagen-destacada-evento {
    float: left;
    margin-right: 1.5%;
}
.view-calendario-de-eventos  .date-prev, #view-calendario-de-eventos  .date-next {background: transparent;}
.view-calendario-de-eventos ul.pager, .view-calendario-de-eventos ul li {border: 0;}
.view-calendario-de-eventos .calendar-calendar th.days {
    background: transparent;
    border: 0;
    color: #000000;
}
.view-calendario-de-eventos.view .date-nav-wrapper {
	overflow: hidden;
}
.view-calendario-de-eventos.view .date-nav-wrapper .date-nav{
	padding: 0;
	margin: 0;
}
.view-calendario-de-eventos.view .date-nav-wrapper .date-prev, 
.view-calendario-de-eventos.view .date-nav-wrapper .date-next {
	background: none;
	padding: 1.1em 0;
}
.view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	font-size: 16px;
	background: white;
	padding: 0 5px 5px 5px;
	float: none;
	height: 15px;
	width: 10px;
	display: inline-block;
	border-radius: 16px;
	color: darkBlue !important;
	text-align: center;
}

.view-calendario-de-eventos .calendar-calendar th.days {
    background: transparent;
    border: 0;
    color: #000000;
}
.view-calendario-de-eventos.view .date-nav-wrapper .date-heading h3 a {font-size: 0.8em;}
.view-calendario-de-eventos.view .date-nav-wrapper .date-heading {
    background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133155', endColorstr='#224B88',GradientType=0 );
    margin: 3px auto;
    border-radius: 5px;
    padding: 2% 0;
    width: 98%;
}
.view-calendario-de-eventos table.mini{
	width: 98%;
	margin: auto;
}
.view-calendario-de-eventos .calendar-calendar th.days {
    background: transparent;
    border: 0;
    color: #000000;
}

.view-calendario-de-eventos .calendar-calendar th.days {
    background: transparent;
    border: 0;
    color: #000000;
}
.view-calendario-de-eventos .month {
    background: none repeat scroll 0 0 #E7E7E7;
    border: 1px solid #DADADA;
    color: #575c56 !important;
    height: 25px;
}
.view-calendario-de-eventos .month a {
    color: #575c56 !important;
    text-decoration: none;
}
.view-calendario-de-eventos .view-content {
    position: relative;
    top: -10px;    
}
.view-calendario-de-eventos .view-footer {
    border-top: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding: 4%;
}
.calendar-calendar .mini-day-on {
    background: transparent !important;
    border: 1px soloid #fff5bf;
}
.calendar-calendar .mini {
    border: 0;
    padding: 0 1px;
    text-align: center;
}
.view-calendario-de-eventos .view-footer h2{
    color: #0F2745;
    font-size: 1.06em;
    font-weight: 400;
    margin-bottom: 2%;
}
.view-calendario-de-eventos .view-footer .field-label {
    float: left;
    font-weight: 300;
}
.view-calendario-de-eventos .view-footer a {
    color: #1B457A;
    font-size: 1.06em;
    font-weight: 300;
}
.view-calendario-de-eventos .view-footer a:hover {
    color: #E55700;
    text-decoration: underline;
}
/*.view-calendario-de-eventos .view-footer a:visited{
    color: #6E7072;
    text-decoration: underline;
}*/
.view-calendario-de-eventos .view-footer .node-evento {
    color: #000000;
    font-size: 1.06em;
    font-weight: 300;
    margin-bottom: 5%;
}
.view-calendario-de-eventos .view-footer .node-evento label {font-weight: 300;}


/***************************************** CSS PLUGINS REDES SOCIALES ************************************************/



#block-block-5, #block-block-4, #block-juanrueda-widget-youtube-widget-youtube-custom {
	border-radius: 0.5em 0.5em 0 0;
	height: 9em;
}
#block-block-5 .content, #block-block-4 .content, #block-juanrueda-widget-youtube-widget-youtube-custom .content {padding: 0.5em 1em 1em 1em;}
#block-block-5, #block-widgets-s-facebook-like-box  {background: url("../images/cabecera-facebook.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-4, #block-block-9 {background: url("../images/cabecera-twitter.png") repeat-x scroll 0 0 #FFFFFF;}
#block-juanrueda-widget-youtube-widget-youtube-custom  {background: url("../images/cabecera-youtube.png") repeat-x scroll 0 0 #FFFFFF;}
#block-block-4 .content p{
    text-align: center;
    width: 100%;
}

#block-juanrueda-widget-youtube-widget-youtube-custom h2.block-title, #block-block-4 h2.block-title, 
#block-block-5 h2.block-title, #block-widgets-s-facebook-like-box h2.block-title,
#block-block-9 h2.block-title{
    border: 0 none;
    color: white;
    font-size: 0.9em;
    line-height: 2;
    padding: 10px 0 22px 70px;
    margin: 0;
}

#block-juanrueda-widget-youtube-widget-youtube-custom h2.block-title {
    background: url("../images/logo-youtube.png") no-repeat scroll 10px 7px transparent;
}
#block-block-4 h2.block-title, #block-block-9 h2.block-title {
    background: url("../images/logo-twitter.png") no-repeat scroll 10px 7px transparent;
}
#block-block-5 h2.block-title, #block-widgets-s-facebook-like-box h2.block-title  {
    background: url("../images/logo-facebook.png") no-repeat scroll 10px 7px transparent;
}
.fb-like.fb_edge_widget_with_comment.fb_iframe_widget, #footer-container #branding{
    display: none;
}
#picture-floater {
    float: left;
    margin: 0 15px 0 0;
}
#publisher{
    float: left;
    width: 50%;
}
#block-block-5 #fb-root {display: none;}
#block-block-5 .fb-like-box {margin-top: -10px;}
#block-block-5 .fb-like-box iframe{height: 4.5em !important;}

.fb-like-box.fb_iframe_widget, .fb-like-box.fb_iframe_widget span, .fb-like-box.fb_iframe_widget iframe{width: 100% !important;}

#block-juanrueda-widget-youtube-widget-youtube-custom .content{font-size: 0.95em;}
#block-juanrueda-widget-youtube-widget-youtube-custom .content div{
	float: left;
	margin-left: 1em;
}
#block-juanrueda-widget-youtube-widget-youtube-custom .content div.contenido-youtube{margin-left: 0;}
#block-juanrueda-widget-youtube-widget-youtube-custom .contenido-youtube img{width: 60px}
#block-juanrueda-widget-youtube-widget-youtube-custom .youtube-contenido-header{
	color: #777777;
	margin-bottom: 1em;
	font-size: 0.85em;
	width: 40%;
}
#block-juanrueda-widget-youtube-widget-youtube-custom .youtube-contenido-header a {
	color: #A11717;
	font-weight: bold;
	font-size: 1.1em;
}
#block-juanrueda-widget-youtube-widget-youtube-custom .contenido-youtube-footer a{
  background-color: #CCCCCC;
  background-image: linear-gradient(bottom, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -o-linear-gradient(bottom, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -moz-linear-gradient(bottom, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -webkit-linear-gradient(bottom, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -ms-linear-gradient(bottom, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #CCCCCC),color-stop(0.50, #dfdfdf),color-stop(#FAFAFA));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#FAFAFA',GradientType=0 );
  padding: 5px 10px;
  color: #666;
  display: inline-block;
  border: 1px solid #CCC;
  font-size: 0.85em;
}
#block-juanrueda-widget-youtube-widget-youtube-custom .contenido-youtube-footer a:hover{
  background-color: #FAFAFA;
  background-image: linear-gradient(top, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -o-linear-gradient(top, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -moz-linear-gradient(top, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -webkit-linear-gradient(top, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -ms-linear-gradient(top, #CCCCCC 15%, #dfdfdf 50%, #FAFAFA);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.15, #CCCCCC),color-stop(0.50, #dfdfdf),color-stop(#FAFAFA));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cccccc',GradientType=0 );
}


/*************************************************************************************/

.item-list ul.pager {
    clear: both;
    display: inline-block;
    *display: inline;
    *zoom: 1;

}
.view > .item-list{
    display: block;
    margin-top: 40px;
    text-align: center;
}
.front #region-content #page-title{
    display: none;
}
.html #region-postscript-fourth.grid-12 {
    margin: 30px 0;
}

.page-camiones #page-title, .page-tips-conozca-su-maquina #page-title, 
.page-tips-disfrute-su-camion #page-title, .page-tips-conviertase-en-experto #page-title {
	padding-left: 50px;
    padding-bottom: 12px;
}
.page-camiones #page-title {background: url("../images/ico-camiones.png") no-repeat scroll left -300px transparent;}
.page-tips-conozca-su-maquina  #page-title {background: url("../images/ico-repuestos.png") no-repeat scroll left -294px transparent;}
.page-tips-disfrute-su-camion  #page-title{background: url("../images/ico-servicios.png") no-repeat scroll left -294px transparent;}
.page-tips-conviertase-en-experto #page-title {background: url("../images/ico-latec.png") no-repeat scroll left -294px transparent;}

.page-tips #page-title:first-letter{
	text-transform: uppercase;
}


.node-type-camion .field-name-field-galeria-usos-camion .field-label, 
.node-type-camion .block-ventaja-display-block .block-inner > h2 {
    color: #999999;
    display: block;
    font-size: 1.4em;
    font-weight: lighter;
    margin: 40px 0 20px;
    text-transform: uppercase;
}
form .form-submit {margin-right: 4.5%;}

.logo-img{
    float: right;
    margin-bottom: 1.5%;
    margin-right: 3%;
}

/***************************************** CSS MOBILE ************************************************/

.responsive-layout-mobile #section-header{
    background-position: -30px top;
    background-size: 30% auto;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales{margin-bottom: 0;}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales, .responsive-layout-mobile #block-multiblock-1{
    clear: both;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1747{
	display: block;
	width: auto;
	background: none;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1747 a.mobile{
	background: transparent url(../images/ico-inicio-mobile.png) no-repeat -5px -130px;
	text-indent: -9999px;
	height: 35px;
	width: 37px;
	margin: 0;
	padding: 0;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1747 a.mobile.active{
	background-position: -5px -6px;
}

.responsive-layout-mobile #block-menu-menu-menu-secciones-principales .block-inner {clear: both;}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul.menu{display: block;}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul.menu,
.responsive-layout-mobile #block-multiblock-1 {
    border: 3px solid #FD8900;
    border-radius: 5px 5px 5px 5px;
    margin: 1px auto;
    padding: 0;
    width: 96%;
}
.responsive-layout-mobile #block-multiblock-1{background: #DDD;}
.responsive-layout-mobile #block-multiblock-1 .form-item input{
	width: 60%;
	margin: 1%;
}
.responsive-layout-mobile #block-multiblock-1 .form-actions input{
	width: 30%;
	margin: 1%;
	font-size: 0.8em;
}

.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf{
    border-bottom: 2px solid #9EAAB0;
    border-radius: 0;
    float: none;
    margin: 0;
    width: 100%;
    display: block;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1183,
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1745{
	float: left;
	width: 50%;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1183 a,
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1745 a{
	padding-left: 0;
	margin: 0.5em 0;
	height: 1.7em;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1183 a{border-right: 2px solid #9EAAB0}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1183 a span.titulo_menu,
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.leaf.menu-1745 a span.titulo_menu{
	display: block;
	margin: auto;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales .content ul li a {
    background-position: 2em 0.7em;
    height: 2.7em;
    padding: 1.3em 0 0 85px;
    text-align: left;
    width: auto;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales .content ul li a.active{background-position: 2em -9.8em;}
.responsive-layout-mobile .menu-render, .responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.expanded.menu-1746 a.mobile{
	display: block;
	background-color: #FF6201;
    background-image: linear-gradient(bottom, #FF6201 42%, #FF9900 71%);
    background-image: -o-linear-gradient(bottom, #FF6201 42%, #FF9900 71%);
    background-image: -moz-linear-gradient(bottom, #FF6201 42%, #FF9900 71%);
    background-image: -webkit-linear-gradient(bottom, #FF6201 42%, #FF9900 71%);
    background-image: -ms-linear-gradient(bottom, #FF6201 42%, #FF9900 71%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6201', endColorstr='#FF9900',GradientType=0 );
    border-radius: 5px 5px 5px 5px;
    color: #554747;
    float: right;
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em 1em;
    text-align: center;
    width: 13%;
    cursor: pointer;
}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales .content ul li a span.texto{display: none;}
.responsive-layout-mobile #block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{
    padding: 0;
    height: auto;
    width: 100%
}
.responsive-layout-mobile .menu-buscador, .responsive-layout-mobile .home-movil, .responsive-layout-mobile .menu-render{
	margin-right: 0.5em;
	font-weight: 400;
}
.responsive-layout-wide .home-movil, .responsive-layout-normal .home-movil, .responsive-layout-narrow .home-movil{display: none;}

.responsive-layout-mobile .menu-buscador{background: url("../images/icono-buscar-mobile.png") no-repeat -5px -132px; transparent;}
.responsive-layout-mobile .home-movil{background: url("../images/ico-inicio-mobile.png") no-repeat -5px -131px; transparent;}

.responsive-layout-mobile .menu-buscador, .responsive-layout-mobile .home-movil{
    display: block;
    float: right;
    height: 35px;
    text-indent: -9999px;
    width: 37px;
    cursor: pointer;
}
.responsive-layout-mobile .menu-buscador.active, .responsive-layout-mobile .home-movil.active, .responsive-layout-mobile .home-movil:active{background-position: -5px -6px;}

.responsive-layout-mobile #zone-user, #block-multiblock-1{display: none;}
.responsive-layout-mobile #block-search-form {
    display: block;
    left: 40%;
    position: absolute;
    top: 251px;
    z-index: 100;
    padding: 3% 10%;
    width: 20%;
    font-size: 1.3em;
}

.responsive-layout-mobile #region-header-first {margin-bottom: 1em;}

.responsive-layout-mobile #block-views-featured-slider-block .nivo-controlNav,
.responsive-layout-mobile .field-name-field-slider-camion .nivo-controlNav{
	display: none;
}
.responsive-layout-mobile #views-nivo-slider-featured_slider-block,
.responsive-layout-mobile .theme-dark .nivoSlider img {
	border: none;
	border-radius: 0;
}

.responsive-layout-mobile .nivo-caption{
    background: none;
    height: 100%;
    left: 50%;
    opacity: 1;
    padding: 1em;
    top: 0px;
    width: 50%;
}

.responsive-layout-mobile #block-views-featured-slider-block .nivo-caption h1,
.responsive-layout-mobile .field-name-field-slider-camion .nivo-caption h1{
    font-size: 0.8em;
    font-weight: 300;
}

.responsive-layout-mobile #carousel-camion{display:block;}

#carousel-camion li a span{font-size: 0.9em;}

.responsive-layout-mobile #carousel-camion .es-nav span{
	background-size: 90%;
	height: 20px;	
	width: 20px;
}

.responsive-layout-mobile #carousel-camion.es-carousel-wrapper{0 1.3em;}
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-prev:hover,
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-prev:active,
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-prev.active{background-position: 0 -179px;}
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-next:hover,
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-next:active,
.responsive-layout-mobile #carousel-camion .es-nav span.es-nav-next.active{background-position: 0 -45px;}

.responsive-layout-mobile .mapa-sitio-render {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
    display: block;
    height: 1.7em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    width: 16em;
}
.responsive-layout-mobile .view-mapa-contacto .attachment, .responsive-layout-mobile .view-mapa-contacto .view-content {float: none;}

.responsive-layout-mobile #block-views-featured-slider-block .nivo-caption p {
    display: none;
}
.responsive-layout-mobile #block-block-5 , .responsive-layout-mobile  #block-block-4, .responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom  {
    background: none repeat scroll 0 0 transparent;
    float: left;
    width: 30%;
    margin: 1.5%;
    text-align: center;
}
.responsive-layout-mobile #zone-footer #block-menu-menu-paises .leaf {
    float: none;
    width: 100%;
}
.responsive-layout-mobile #zone-footer #block-menu-menu-paises.block {
    width: 75%;
}
.responsive-layout-mobile #zone-footer .block {
    float: none;
    margin: 0 auto;
    text-align: left;
    width: 75%;
    margin-bottom: 30px;
}
.responsive-layout-mobile #zone-footer .block h2{
    background-position: 0 0 !important;
    font-size: 17px;
    font-weight: normal;
    height: auto;
    margin-bottom: 15px;
    padding: 5px 0 5px 40px;
    text-align: left;
}
.responsive-layout-mobile #region-footer-first .block .content{
    clear: both;
    padding-left: 25px;
}

.responsive-layout-mobile #block-block-13.block ul, 
.responsive-layout-mobile #block-menu-menu-international-menu-inferior.block ul, 
.responsive-layout-mobile #block-views-menu-block.block ul{width: 100%;}

.responsive-layout-mobile #region-footer-first .block ul li > div {
    display: inline-block;
    margin: 0;
        *display: inline;
    *zoom: 1;
}

.responsive-layout-mobile  #block-block-5 h2.block-title {
    background: url("../images/ico-facebook-mobile.jpg") no-repeat scroll 0 0 transparent;
}
.responsive-layout-mobile  #block-block-4 h2.block-title {
    background: url("../images/ico-twitter-mobile.jpg") no-repeat scroll 0 0 transparent;
}
.responsive-layout-mobile  #block-juanrueda-widget-youtube-widget-youtube-custom h2.block-title {
    background: url("../images/ico-youtube-mobile.jpg") no-repeat scroll 0 0 transparent;
}
.responsive-layout-mobile  #block-juanrueda-widget-youtube-widget-youtube-custom h2.block-title , 
.responsive-layout-mobile #block-block-4 h2.block-title, 
.responsive-layout-mobile #block-block-5 h2.block-title{
    display: block;
    float: none;
    font-size: 0;
    height: 65px;
    margin: 0 auto;
    padding: 0;
    width: 68px;
}
.responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom .content div.contenido-youtube,
.responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom .content div.youtube-contenido-header
{display: none;}
.responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom .content div.youtube-contenido-header a{
	display: block;
}
.responsive-layout-mobile .fb-like.fb_edge_widget_with_comment.fb_iframe_widget{
	display: block;
	margin-top: 1em;
}
.twitter-follow-small a.twitter-name-label{
	display: block;
	margin: 1em 0;
	font-size: 0.9em;
}
.responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom .content div.contenido-youtube-footer{
	float: none;
	margin: 1em auto;
}

/*.html*/.responsive-layout-mobile  #region-postscript-fourth{
    background: none repeat scroll 0 0 #000000;
    border-bottom: 1px solid #222222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
    padding: 30px 0;
}
/*.html*/.responsive-layout-mobile #section-content {
    margin-bottom: 0;
}
/*.html*/.responsive-layout-mobile #section-footer{
    background-color: #000000;
    border-top: 1px solid #111111;
    color: #FFFFFF;
    padding-top: 15px;
}
.responsive-layout-mobile #region-footer-second{
    border-top: 1px solid #222222;
    margin: 15px 0 0;
    overflow: hidden;
}
.responsive-layout-mobile  #block-block-6,
.responsive-layout-mobile  #block-block-7,
.responsive-layout-mobile.front #block-system-main .content,
.responsive-layout-mobile  #block-block-5 .content .fb-like-box,
.responsive-layout-mobile  #block-juanrueda-widget-youtube-widget-youtube-custom .content .subscribe-youtube,
.responsive-layout-mobile  #block-block-4 .content  .twitter-follow-big {
    display: none;
}
body.responsive-layout-mobile {
    background-color: #000;
}
.responsive-layout-mobile #zone-postscript-wrapper{
    padding-top: 30px;
}
.responsive-layout-mobile #block-webform-client-block-1 {
    margin: auto;
    width: 60%;
}
.responsive-layout-mobile #block-block-5 .content, 
.responsive-layout-mobile #block-block-4 .content, 
.responsive-layout-mobile #block-juanrueda-widget-youtube-widget-youtube-custom .content {
    padding: 0;
}


.responsive-layout-mobile #block-juanrueda-galeria-camiones-galeria-camiones {margin: 0.5em 0 0 0;}

.responsive-layout-mobile .logo-img img {width: 70%;}
.responsive-layout-mobile .logo-img {width: 25%;}

.responsive-layout-mobile .branding-data h1.site-name, .responsive-layout-mobile .branding-data h2.site-name {background-size: 79% auto;}
.responsive-layout-mobile .site-name-slogan {width: 75%;}

.responsive-layout-mobile #block-menu-menu-menu-secciones-principales, .responsive-layout-mobile #block-multiblock-1 {margin-left: 35%;}
.responsive-layout-mobile .menu-buscador, .responsive-layout-mobile .home-movil,
.responsive-layout-mobile .menu-render, .responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.expanded.menu-1746 a.mobile {float: left;}
.responsive-layout-mobile .menu-render, .responsive-layout-mobile #block-menu-menu-menu-secciones-principales ul li.expanded.menu-1746 a.mobile {width: 20%;}

.responsive-layout-mobile #block-multiblock-1 {width: 64.5%;}
