
body {min-width: 960px;}

.container-12 .container-12 .grid-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.container-12 .grid-1 {width: 60px;}
.container-12 .grid-2 {width: 140px;}
.container-12 .grid-3 {width: 220px;}
.container-12 .grid-4 {width: 300px;}
.container-12 .grid-5 {width: 380px;}
.container-12 .grid-6 {width: 460px;}
.container-12 .grid-7 {width: 540px;}
.container-12 .grid-8 {width: 620px;}
.container-12 .grid-9 {width: 700px;}
.container-12 .grid-10 {width: 780px;}
.container-12 .grid-11 {width: 860px;}
.container-12 .grid-12 {width: 940px;}

.responsive-layout-normal .theme-dark .nivo-caption{padding: 5% 2em;}
.responsive-layout-normal .theme-dark .nivo-caption h1 p{font-size: 1.9em;}

.nivo-controlNav a {*float: left !important;}
#block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{*width: 70% !important;}
#zone-footer .block {margin-right: 0 !important;}
.select-jr {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.es-nav span {
	height: 46px !important;
	width: 40px !important;
}
.es-nav span.es-nav-next {background-position: -4px 0 !important;}
.es-nav span.es-nav-next:hover {background-position: -4px -125px !important;}
.es-nav span.es-nav-prev {background-position: -4px -370px !important;}
.es-nav span.es-nav-prev:hover {background-position: -4px -495px !important;}

#block-menu-menu-menu-secciones-principales ul.menu{padding: 0 5px;}
#block-menu-menu-menu-secciones-principales ul li.leaf {
	background-image: url("../images/menu-bg-ie.png");
	height: 133px;
	width: 176px;
	margin: 5px;
}
#block-menu-menu-menu-secciones-principales ul li.leaf:hover,
#block-menu-menu-menu-secciones-principales ul li.leaf.active-trail{
	background-image: url("../images/menu_bg_ie-active-hover.png");
	background-position: 0 0;
}
#block-menu-menu-menu-secciones-principales .content ul li a {width: 100%}

#block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu {height: 35px;}

#block-menu-menu-menu-secciones-principales .content ul li a span.texto{
	padding: 0 15px;
	font-size: 0.9em;
}
.view-entradas-recientes .pager li a {
	display: block;
	float: none;
}
.view-entradas-recientes .item-list {margin-bottom: 35px !important;}
#zone-footer .item-list ul li, #zone-footer .item-list ul li.leaf {list-style-image: none !important;}
#zone-footer #block-menu-menu-paises ul li {background: url("../images/circulo.jpg") no-repeat scroll 0 70% transparent;}
#block-menu-menu-paises li.expanded, #block-menu-menu-paises li.collapsed, #block-menu-menu-paises li.leaf {padding: 0 !important;}
#region-footer-first #block-menu-menu-paises.block ul {padding: 0 0 0 10%!important;}
#region-footer-first #block-menu-menu-paises.block ul a {
	display: block;
	padding-left: 20%;
	width: 100%;
}
#block-search-form .form-submit {*color: transparent;}
#block-webform-client-block-1 {
	height: 6em;
	padding: 0.5em 0.5em 1em 0.5em;
}
#block-webform-client-block-1 h2.block-title{
	font-size: 1em;
	margin-bottom: 0;
}
#block-webform-client-block-1 input[type='text'] {width: 95% !important;}
.front #zone-postscript {
	margin-bottom: 30px;
	overflow: hidden;
}
.logo-img {
	margin-bottom: 0;
	margin-top: 4.5%;
}
.views-processed.nivo-imageLink {z-index:2;}
.branding-data {overflow: hidden;}
.views-nivo-slider-view a.nivo-imageLink { background-color:#fff; filter:alpha(opacity=0);}

.theme-dark .nivo-caption{left: 42%;}

#block-juanrueda-widget-youtube-widget-youtube-custom img{max-width: auto;}

