
body {min-width: 960px;}

.container-12 .container-12 .grid-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.container-12 .grid-1 {width: 60px;}
.container-12 .grid-2 {width: 140px;}
.container-12 .grid-3 {width: 220px;}
.container-12 .grid-4 {width: 300px;}
.container-12 .grid-5 {width: 380px;}
.container-12 .grid-6 {width: 460px;}
.container-12 .grid-7 {width: 540px;}
.container-12 .grid-8 {width: 620px;}
.container-12 .grid-9 {width: 700px;}
.container-12 .grid-10 {width: 780px;}
.container-12 .grid-11 {width: 860px;}
.container-12 .grid-12 {width: 940px;}

.nivo-caption {
	height: 77.5% !important;
	width: 22% !important;
}
.nivo-controlNav a {*float: left !important;}
#block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{*width: 70% !important;}
#zone-footer .block {margin-right: 0 !important;}
.select-jr {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.es-nav span {
	height: 46px !important;
	width: 40px !important;
}
.es-nav span.es-nav-next {background-position: -4px 0 !important;}
.es-nav span.es-nav-next:hover {background-position: -4px -125px !important;}
.es-nav span.es-nav-prev {background-position: -4px -370px !important;}
.es-nav span.es-nav-prev:hover {background-position: -4px -495px !important;}

#block-menu-menu-menu-secciones-principales ul li.leaf {
	height: 130px;
	background-image: url("../images/menu-bg-ie.png");
}
#block-menu-menu-menu-secciones-principales .content ul li a {width: 100%}

#block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu {height: 35px;}
#block-menu-menu-menu-secciones-principales .content ul li.first a span.titulo_menu {
	padding-top: 10px;
	height: 25px;
}
#block-menu-menu-menu-secciones-principales .content ul li.first a span.texto{padding: 0 5px;}
.view-entradas-recientes .pager li a {
	display: block;
	float: none;
}
.view-entradas-recientes .item-list {margin-bottom: 35px !important;}
#zone-footer .item-list ul li, #zone-footer .item-list ul li.leaf {list-style-image: none !important;}
#zone-footer #block-menu-menu-paises ul li {background: url("../images/circulo.jpg") no-repeat scroll 0 70% transparent;}
#block-menu-menu-paises li.expanded, #block-menu-menu-paises li.collapsed, #block-menu-menu-paises li.leaf {padding: 0 !important;}
#region-footer-first #block-menu-menu-paises.block ul {padding: 0 0 0 10%!important;}
#region-footer-first #block-menu-menu-paises.block ul a {
	display: block;
	padding-left: 20%;
	width: 100%;
}