/* This file will hold styles that are loaded using the same media query as the wide grid. */

.front #region-content.grid-12,
.page-camiones #region-content.grid-12,
.page-tips-de-juan-rueda #region-content.grid-12,
.page-tips #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12{
	width: 1200px;
}
.page-noticias-y-eventos #region-content.grid-8{
	width: 800px;
}