/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

.front #region-content,
.page-camiones #region-content,
.page-taxonomy-term,
.page-noticias-y-eventos{
	margin: 0;
}
*{
font-family: gotham regular, 'Lato', sans-serif;
}

#block-menu-menu-menu-secciones-principales .content {
margin: 0 auto;
width: 100%;
}
#block-menu-menu-menu-secciones-principales ul {
overflow: hidden;
padding: 3%;
}
#block-menu-menu-menu-secciones-principales ul li.leaf {
float: left;
width: 18%;
margin: 1%;
padding: 0;
}

#block-menu-menu-menu-secciones-principales ul li a {
color: #133156;
display: block;
font-size: 1em;
font-family: gotham medium, "lato", arial;
background: url("../images/menu-bg.png") repeat-x scroll top left transparent;
width: 70%;
text-align: center;
padding: 2.85em 15% 0;
height: 7.1em;
text-transform: uppercase;
line-height: 1.2;
border-radius: 0.5em;
}
#block-menu-menu-menu-secciones-principales ul li a:hover{
	background-position: 128px;
}
#block-menu-menu-menu-secciones-principales ul li a.active{
	background-position: 256px;
}