/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
.front #region-content.grid-12,
.page-camiones #region-content.grid-12,
.page-tips-de-juan-rueda #region-content.grid-12,
.page-tips #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12,
.node-type-camion #region-content.grid-12,
.page-noticias-y-eventos #region-content.grid-12{
	width: 720px;
}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a{
	width: 100%;
	padding: 2.4em 0 0 0;
	height: 2.6em;
	background-position: center top;
}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li:hover a,
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li.active-trail a{background-position: center -10em;}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{padding: 0 6%;}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li.first a span.titulo_menu{
	padding: 2% 6% 0;
	background-position: center 0.5em;
}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a span.texto{display: none;}

.responsive-layout-narrow #section-header{background-size: 30%;}
.responsive-layout-narrow .branding-data h1.site-name, .responsive-layout-narrow .branding-data h2.site-name{background-size: 50%;}

.responsive-layout-narrow .social_networks_links li{margin-top: 0;}
.responsive-layout-narrow .social_networks_links li a  {
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    height: 25px;
    width: 25px;
}
.responsive-layout-narrow .social_networks_links li#twitter a {background-position: -60px -18px;}
.responsive-layout-narrow .social_networks_links li#facebook a {background-position: -18px -17px;}
.responsive-layout-narrow .social_networks_links li#youtube a {background-position: -101px -16px;}

.responsive-layout-narrow .social_networks_links li#twitter a:hover,
.responsive-layout-narrow .social_networks_links li#twitter a.active {background-position: -60px -45px;}
.responsive-layout-narrow .social_networks_links li#facebook a:hover,
.responsive-layout-narrow .social_networks_links li#facebook a.active {background-position: -18px -44px;}
.responsive-layout-narrow .social_networks_links li#youtube a:hover,
.responsive-layout-narrow .social_networks_links li#youtube a.active {background-position: -101px -43px;}

.responsive-layout-narrow #block-menu-menu-menu-secciones-principales ul{padding: 0 1%;}

.responsive-layout-narrow .nivo-caption{
	left: 60%;
	width: 40%;
	padding: 1em;
}


.twitter-follow-small, .fb_edge_widget_with_comment, .mobile-subscribe-youtube{display: none;}

.responsive-layout-narrow #zone-footer .block-title{font-size: 1em;}
.responsive-layout-narrow #block-block-13.block ul,
.responsive-layout-narrow #block-menu-menu-international-menu-inferior.block ul,
.responsive-layout-narrow #block-views-menu-block.block ul {width: 100%;}

.responsive-layout-narrow #zone-footer #block-menu-menu-paises{width: 34%;}
.responsive-layout-narrow #zone-footer #block-menu-menu-paises ul.menu{padding-left: 0;}
.responsive-layout-narrow #zone-footer #block-menu-menu-paises .leaf {
    width: 45%;
    list-style-position: inside;
}

.responsive-layout-narrow #zone-footer #block-block-13{
	width: 13%;
	margin: 1% 0;
}

.responsive-layout-narrow #region-footer-second{font-size: 1em;}
.responsive-layout-narrow #zone-footer #block-block-1, .responsive-layout-narrow #zone-footer #block-block-2{
	float: none;
	width: 100%;
	padding: 0;
	text-align: center;
}

