/* This file will hold styles that are loaded using the same media query as the wide grid. */

.front #region-content.grid-12,
.page-camiones #region-content.grid-12,
.page-tips-de-juan-rueda #region-content.grid-12,
.page-tips #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12,
.node-type-camion #region-content.grid-12,
.page-noticias-y-eventos #region-content.grid-12{
	width: 1200px;
}

.responsive-layout-wide.page-noticias-y-eventos #block-system-main{
	width: 900px;
	float: left;
}
.responsive-layout-wide.page-noticias-y-eventos .grid-4.col-4#block-block-9,
.responsive-layout-wide.page-noticias-y-eventos .grid-4.col-4#block-views-calendario-de-eventos-block-1{
	width: 280px;
}


.responsive-layout-wide .view-mapa-contacto .view-content{width: 780px;}

/*.responsive-layout-wide #block-menu-menu-menu-secciones-principales .content ul li a span.texto{padding: 0 8%;}*/

.twitter-follow-small, .fb_edge_widget_with_comment, .mobile-subscribe-youtube{display: none;}
