/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.front #region-content.grid-12,
.page-camiones #region-content.grid-12,
.page-tips-de-juan-rueda #region-content.grid-12,
.page-tips #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12,
.node-type-camion #region-content.grid-12,
.page-noticias-y-eventos #region-content.grid-12{
	width: 960px;
}
.responsive-layout-normal #block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{padding: 0 10px;}
#block-menu-menu-menu-secciones-principales .content ul li a span.texto {
    font-size: 0.85em;
    width: auto;
}


/******** Footer *******/

.twitter-follow-small, .fb_edge_widget_with_comment, .mobile-subscribe-youtube{display: none;}

.responsive-layout-normal #zone-footer .block#block-menu-menu-paises {width: 33%;}
.responsive-layout-normal #zone-footer .block#block-block-13{
	width: 14%;
	margin: 0;
}

.responsive-layout-normal #block-block-13.block ul{width: 65%;}
