/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
.front #region-content.grid-12,
.page-camiones #region-content.grid-12,
.page-tips-de-juan-rueda #region-content.grid-12,
.page-tips #region-content.grid-12,
.front #region-postscript-fourth.grid-12,
.page-contacte-su-distribuidor #region-content.grid-12,
.node-type-camion #region-content.grid-12,
.page-noticias-y-eventos #region-content.grid-12{
	width: 720px;
}

.responsive-layout-narrow.page-noticias-y-eventos #block-system-main{
	width: 720px;
	margin-bottom: 2em;
	float: left;
}
.responsive-layout-narrow.page-noticias-y-eventos .grid-4.col-4#block-block-9,
.responsive-layout-narrow.page-noticias-y-eventos .grid-4.col-4#block-block-15,
.responsive-layout-narrow.page-noticias-y-eventos .grid-4.col-4#block-views-calendario-de-eventos-block-1{
	width: 340px;
}

.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a{
	width: 100%;
	padding: 2.4em 0 0 0;
	height: 2.6em;
	background-position: center top;
}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li:hover a,
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li.active-trail a{background-position: center -10em;}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{padding: 0 6%;}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li.first a span.titulo_menu{
	padding: 2% 6% 0;
	background-position: center 0.5em;
}
.responsive-layout-narrow #block-menu-menu-menu-secciones-principales .content ul li a span.texto{display: none;}

.responsive-layout-narrow .branding-data h1.site-name, .responsive-layout-narrow .branding-data h2.site-name{background-size: 50%;}

.responsive-layout-narrow .social_networks_links li{margin-top: 0;}
.responsive-layout-narrow .social_networks_links li a  {
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    height: 25px;
    width: 25px;
}
.responsive-layout-narrow .social_networks_links li#twitter a {background-position: -60px -18px;}
.responsive-layout-narrow .social_networks_links li#facebook a {background-position: -18px -17px;}
.responsive-layout-narrow .social_networks_links li#youtube a {background-position: -101px -16px;}

.responsive-layout-narrow .social_networks_links li#twitter a:hover,
.responsive-layout-narrow .social_networks_links li#twitter a.active {background-position: -60px -45px;}
.responsive-layout-narrow .social_networks_links li#facebook a:hover,
.responsive-layout-narrow .social_networks_links li#facebook a.active {background-position: -18px -44px;}
.responsive-layout-narrow .social_networks_links li#youtube a:hover,
.responsive-layout-narrow .social_networks_links li#youtube a.active {background-position: -101px -43px;}

.responsive-layout-narrow #block-menu-menu-menu-secciones-principales ul{padding: 0 1%;}

.twitter-follow-small, .fb_edge_widget_with_comment, .mobile-subscribe-youtube{display: none;}

.responsive-layout-narrow #zone-footer .block-title{font-size: 1em;}
.responsive-layout-narrow #block-block-13.block ul,
.responsive-layout-narrow #block-menu-menu-international-menu-inferior.block ul,
.responsive-layout-narrow #block-views-menu-block.block ul {width: 100%;}

.responsive-layout-narrow #zone-footer #block-menu-menu-paises{width: 34%;}
.responsive-layout-narrow #zone-footer #block-menu-menu-paises ul.menu{padding-left: 0;}
.responsive-layout-narrow #zone-footer #block-menu-menu-paises .leaf {
    width: 45%;
    list-style-position: inside;
}

.responsive-layout-narrow #zone-footer #block-block-13{
	width: 13%;
	margin: 1% 0;
}

.responsive-layout-narrow #region-footer-second{font-size: 1em;}
.responsive-layout-narrow #zone-footer #block-block-1, .responsive-layout-narrow #zone-footer #block-block-2{
	float: none;
	width: 100%;
	padding: 0;
	text-align: center;
}


/**   Testing

.responsive-layout-narrow .view-mapa-contacto .view-content{width: 460px;} 

.responsive-layout-narrow .view-mapa-contacto .views-field-php a,
.responsive-layout-narrow .view-mapa-contacto .views-field-php-1 a{
	background: none;
	padding: 5px 8px;
}
.responsive-layout-narrow .view-mapa-contacto .attachment .views-field-php {
	margin-right: 5px;
}

   Testing **/

.responsive-layout-narrow #block-webform-client-block-1 {padding: 0.5em 1em;}

.responsive-layout-narrow #block-webform-client-block-1 h2.block-title{
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
}
.responsive-layout-narrow #block-webform-client-block-1 .form-item{margin: 2px 0;}
.responsive-layout-narrow #block-webform-client-block-1 input[type="text"]{padding: 1px 5px;}
.responsive-layout-narrow #block-webform-client-block-1 .form-submit {
	width: auto;
	padding: 5px 20px;
}


.responsive-layout-narrow #block-juanrueda-widget-youtube-widget-youtube-custom h2.block-title{height: 2em;}
.responsive-layout-narrow #block-juanrueda-widget-youtube-widget-youtube-custom .youtube-contenido-header{
	width: 60%;
	margin-bottom: 2px;
}
.responsive-layout-narrow .fan_box .connect_action {
	width: 70%;
	float: left;
	padding: 0;
}
.responsive-layout-narrow .fan_box .connect_top {padding: 10px 0 0 0;}

.responsive-layout-narrow #block-block-5 .content, 
.responsive-layout-narrow #block-block-4 .content,
.responsive-layout-narrow #block-juanrueda-widget-youtube-widget-youtube-custom .content {
	padding: 0.2em 0.8em;
}

/******** Slider ********/

.responsive-layout-narrow .theme-dark .nivo-caption{padding: 5% 2em;}
.responsive-layout-narrow .theme-dark .nivo-caption h1 p{font-size: 125%;}
.responsive-layout-narrow .theme-dark .nivo-caption > p{width: 95%;}
.responsive-layout-narrow .theme-dark .nivo-caption a.boton-azul{padding: 0.3em 1em;}