/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.responsive-layout-normal.front #region-content.grid-12,
.responsive-layout-normal.page-camiones #region-content.grid-12,
.responsive-layout-normal.page-tips-de-juan-rueda #region-content.grid-12,
.responsive-layout-normal.page-tips #region-content.grid-12,
.responsive-layout-normal.front #region-postscript-fourth.grid-12,
.responsive-layout-normal.page-contacte-su-distribuidor #region-content.grid-12,
.responsive-layout-normal.node-type-camion #region-content.grid-12,
.responsive-layout-normal.page-noticias-y-eventos #region-content.grid-12{
	width: 960px;
}
.responsive-layout-normal #block-menu-menu-menu-secciones-principales .content ul li a span.titulo_menu{padding: 0 10px;}
#block-menu-menu-menu-secciones-principales .content ul li a span.texto {
    font-size: 0.85em;
    width: auto;
}

.responsive-layout-normal.page-noticias-y-eventos #block-system-main{
	width: 640px;
	float: left;
}
.responsive-layout-normal.page-noticias-y-eventos .grid-4.col-4#block-block-9,
.responsive-layout-normal.page-noticias-y-eventos .grid-4.col-4#block-views-calendario-de-eventos-block-1{
	width: 300px;
}

.responsive-layout-normal #block-juanrueda-widget-youtube-widget-youtube-custom .contenido-youtube-footer a{
	padding: 5px 3px;
	margin-top: 35px;
}
.responsive-layout-normal #block-juanrueda-widget-youtube-widget-youtube-custom .content div{margin-left: 0.5em;}

/******** Footer *******/

.twitter-follow-small, .fb_edge_widget_with_comment, .mobile-subscribe-youtube{display: none;}

.responsive-layout-normal #zone-footer .block#block-menu-menu-paises {width: 33%;}
.responsive-layout-normal #zone-footer .block#block-block-13{
	width: 14%;
	margin: 0;
}

.responsive-layout-normal #block-block-13.block ul{width: 65%;}
