.view-calendario-de-eventos .date-heading {
	background-image: linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -o-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -moz-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -ms-linear-gradient(bottom, #133155 22%, #133B6C 61%, #224B88 81%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, #133155),
		color-stop(0.61, #133B6C),
		color-stop(0.81, #224B88)
	);
	margin: 0 3px;
	top: 32px;
	width: 98%;
}
.view-calendario-de-eventos  .date-prev, #view-calendario-de-eventos  .date-next {background: transparent;}
.view-calendario-de-eventos ul.pager a {
	border-radius: 10px;
	font-size: 5px;
}
.view-calendario-de-eventos .calendar-calendar th.days {
	background: transparent;
	border: 0;
	color: #000000;
}


html{background: red;}